/* || Global Styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

:root {
  /* Colours */

  --Red-400: hsl(7, 99%, 70%);
  --Yellow-500: hsl(51, 100%, 49%);
  --Green-800: hsl(167, 40%, 24%);
  --Blue-800: hsl(198, 62%, 26%);

  --Grey-950: hsl(212, 27%, 19%);
  --Grey-600: hsl(213, 9%, 39%);
  --Grey-550: hsl(232, 10%, 55%);
  --Grey-400: hsl(210, 4%, 67%);
  --White: hsl(0, 100%, 100%);

  /* Fonts */

  --Header: "Fraunces", sans-serif, serif;
  --Paragraph: "Barlow", sans-serif, serif;
}

/* || Main Styling */

/* Header */

header {
  background-image: url(images/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 35em;
  padding: 1.7rem;
  width: 100%;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.header-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: var(--White);
  font-family: var(--Header);
  font-size: 2.3rem;
  line-height: 150%;
  text-align: center;
  margin-bottom: 3.5rem;
}

/* Image Section 1 */

.img-transform {
  height: auto;
  width: 24em;
}

.image-section-1-txt {
  padding: 3rem 2rem;
  text-align: center;
}

.section-header {
  color: var(--Grey-950);
  font-family: var(--Header);
  font-size: 1.7rem;
  margin-bottom: 1.3rem;
}
.section-txt {
  color: var(--Grey-550);
  font-family: var(--Paragraph);
  line-height: 150%;
  margin-bottom: 1.3rem;
}

.section-link {
  color: var(--Grey-950);
  font-family: var(--Header);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.learn-more {
  position: relative;
}

.learn-more-colour {
  background-color: var(--Yellow-500);
  border-radius: 4rem;
  height: 0.6rem;
  opacity: 0.3;
  position: absolute;
  left: 7rem;
  top: 0.8rem;
  width: 30%;
  z-index: -1;
}
